.about-hero{

padding:90px 0;

}


.about-layout{

display:flex;
align-items:center;
justify-content:space-between;
gap:60px;

}



.about-content{

max-width:650px;

}



.about-content h4{

color:#38bdf8;
font-size:20px;

}



.about-content h1{

font-size:60px;
color:white;
margin:15px 0;

}



.about-content h2{

font-size:28px;
color:#94a3b8;

}



.about-content p{

font-size:18px;
line-height:1.8;
color:#cbd5e1;

}





.about-image img{

width:330px;
height:330px;

object-fit:cover;

border-radius:50%;

border:5px solid #38bdf8;

box-shadow:0 0 35px #38bdf8;

}





.expertise{

padding:50px 0;

}



.expertise h2,
.vision h2{

font-size:35px;
color:white;
margin-bottom:35px;

}



.expertise-list{

display:flex;
flex-wrap:wrap;
gap:30px;

}



.expertise-list span{

font-size:18px;
color:#38bdf8;

}





.vision{

padding:60px 0;

}



.vision p{

font-size:18px;
color:#cbd5e1;
max-width:850px;
line-height:1.8;

}




.tagline{

padding:70px 0;
text-align:center;

}



.tagline p{

font-size:30px;
font-style:italic;
color:#38bdf8;

}





@media(max-width:768px){


.about-layout{

flex-direction:column-reverse;
text-align:center;

}


.about-content h1{

font-size:42px;

}


.about-image img{

width:220px;
height:220px;

}


}