body{

background:#0f172a;

font-family:'Poppins',sans-serif;

color:#cbd5e1;

}



.about-hero{

padding:70px 0;

text-align:center;

}



.about-hero h1{

font-size:48px;

color:white;

}



.about-section{

padding:40px 0;

}



.about-card{

background:#1e293b;

padding:35px;

border-radius:20px;

margin-bottom:30px;

border:1px solid #334155;

}



.about-card h2{

color:#38bdf8;

margin-bottom:20px;

}



.about-card p{

line-height:1.8;

font-size:16px;

}



.tag-box{

display:flex;

flex-wrap:wrap;

gap:15px;

}



.tag-box span{

background:#0f172a;

padding:12px 20px;

border-radius:30px;

color:#38bdf8;

border:1px solid #334155;

}



.motto{

text-align:center;

}



.motto h3{

color:#38bdf8;

font-style:italic;

font-size:25px;

}